#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	rsync -a ./ debian/yandex-du-zlo/usr/lib/node_modules/zlo/

	chown -R ppc: debian/yandex-du-zlo/usr/lib/node_modules/zlo/

	dh_link usr/lib/node_modules/zlo/bin/zlo usr/bin/zlo
# TODO README
#	chmod 400 debian

override_dh_fixperms:
	dh_fixperms -X usr/lib/node_modules/zlo/
